.chat-window {
  padding: 10px;
  border: 1px solid #ccc;
  height: 350px;
  width: 450px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.chat-message {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 70%;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
  text-align: right;
}

.received {
  background-color: #fff;
  align-self: flex-start;
  text-align: left;
}

.no-messages {
  text-align: center;
  color: #888;
}
