.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4361ee;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

.navbar-brand h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

/*wrap and links*/
.navbar-center {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  margin-left: 2rem;
}

/*search bar*/
.navbar-search {
  flex: 1;
  max-width: 400px;
}

.search-input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  outline: none;
}



/*navigation links*/
.navbar-links {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  align-items: center;
}

.nav-link{
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;

}

/*hover effect*/
.nav-link:hover{
  color:#a8c0ff;
}

/*active link */
.nav-link.active::after{
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
    flex-wrap: wrap;
  }
  
  .navbar-search {
    order: 3;
    margin: 1rem 0 0 0;
    max-width: 100%;
  }
  
  .navbar-icons {
    gap: 0.5rem;
  }
}